.logo {
  display: flex;
  margin-left: 28px;
  margin-top: 37px;
  margin-bottom: 50px;
}

.logo_text {
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
  padding-left: 8px;
}

.logo_text_version {
  color: #838383;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.1px;
  padding-left: 4px;
}

.menu {
  margin-bottom: 582px;
}

.menu span {
  color: #9197b3;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}

.menu > li > div {
  padding: 0;
  padding-right: 15px;
  min-width: 0;
}

.menu > li > div > div {
  padding: 0;
}

.menu li {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0;
  margin-left: 28px;
  margin-bottom: 15px;
  width: 84%;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.menu li:not(:first-child),
.menu li:not(:first-child) * {
  cursor: pointer;
}

.menu li:hover:not(:first-child) {
  background-color: #5932ea;
}

.menu li:hover:not(:first-child) span {
  color: #fff;
}

.menu li:hover:not(:first-child) path {
  stroke: white;
}

.user {
  display: flex;
  margin-left: 28px;
  margin-bottom: 76px;
  align-items: center;
}

.user div span {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
}

.user div p {
  color: #757575;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.user_name {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
  padding-left: 12px;
}

.user_name_status {
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  display: block;
}
