* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wraper {
  display: flex;
}

.right_menu {
  background: #fafbff;
  padding-left: 71px;
  padding-right: 95px;
}
